



<div class='container'>
  <div class='row'>
    <h1>好友清單</h1>
    <hr>
    <% @all_friends.each do |user| %>
      <div class='col-md-3'>
        <div class='user-index'>
          <%= image_tag user.avatar, class: "img-responsive center-block" %><br>
          <p class='text-center'><%= link_to user.name, user %><br></p> 
          <div class='text-center'><%= render "shared/follow", user: user %></div> 
          <div class='text-center'><%= render "shared/friend", user: user %></div> 
        </div>
        
      </div>
    
    <% end %>
    
  </div>
</div>

