.restaurant-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 20px;
  height: 250px;
  width: 320px;
}

.restaurant-item img {
  max-height: 120px;
  
}

.restaurant-item .caption {
  padding: 10px;
}

.nav-center {
  margin-bottom: 20px;
  padding-left:70px ;
}
.my-restaurant img {
  max-height: 70px;
  margin-bottom: 10px;
  
  
}
.my-restaurant {
  margin-bottom: 10px;
}

.ranking {
  margin: 20px;
}
.user-index img {
  max-height: 80px;
  
}

.user-index {
  margin-bottom: 20px;
}

.show-img {
  max-height: 150px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.following-img {
  max-height: 25px;
  margin-bottom: 5px;
  border-radius: 50%;
}



